
body {

    max-height: 100%;
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;

    
}
.wrapper{
    padding: 50px;

}
.nav{
    display: block;
    margin: 1em 0 0 1em;
    width: 25px;
    

}
.nav div{
    background-color: white;
    margin: 17px 22px;
    height: 3px;
    border-radius: 45px;
    

}
.first{
    width: 60px;
}
.second{
    width: 60px;
}
.third{
    width: 60px;
}
.logo{
    text-align: center;
    width: 100%;
}

.title{
    text-align: center;
    color: white;
    font-size: 2em;
    line-height: 0.8px;
}
.backgroundimage{
    background:url('./assets/backgrounds/landing.jpg');
    height: 600px;
    
}


.background1 {
    background-image: url(./assets/backgrounds/landing.jpg);
    height: 100%;
    background-size: cover;
    text-align: center;
    padding-top: 150px;
    color: white;
    font-size: 30px;
    font-family: 'Baloo Tammudu 2', cursive;


}

.service {
    display: flex;



}

#service1 {
    display: flex;
    flex-direction: column;
    width: 150%;
    text-align: center;
    font-family: 'Baloo Tammudu 2', cursive;
}

#happy {
    margin-top: 40px;
    margin-bottom: 40px;
    height: 50%;
    font-family: 'Baloo Tammudu 2', cursive;

}

#party {
    background-color: #F15A29;
    color: white;
    padding-top: 40px;
    padding-bottom: 38px;
    height: 50%;
    height: fit-content;
    font-family: 'Baloo Tammudu 2', cursive;
}

#breakfast,
#lunch,
#dinner {
    text-align: center;
    position: relative;
    color: white;
    font-family: 'Baloo Tammudu 2', cursive;
}
#lunch{
    opacity: 0.5;
}

#bftxt,
#lunchtxt,
#dinnertxt {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: (-50%, -50%);
    font-style: italic;
    font-size: 24px;
}
#foodimage{
    /* display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 0.5em; */
    box-shadow: 10px 10px 10px 10px solid gray;
    height: 140px;
    font-family: 'Baloo Tammudu 2', cursive;
}

#foodimage img{
    height: 150px;
    position: relative;

}

.img_one{
    top: 2px;
    /* max-height: fit-content; */
}

.img_two{
    top: -2px;
    /* max-height: fit-content; */
}

.image-container{
    margin: 0.2em;
    border: 1.0em solid rgba(0, 0, 0, 0.05);
    

}
.image-containe{

    border: 1.0em solid rgba(0, 0, 0, 0.05);
    display: flex;
    box-shadow: 0px 0px 12px 6px gray;

    

}


.fastfood{
    display: flex;
    text-align: left;
    padding-top: 40px;
    padding-bottom: 150px;
    margin-left: 15%;
    width: 70%;
    justify-content: space-between;
    font-family: 'Baloo Tammudu 2', cursive;
     font-family: 'Baloo Tammudu 2', cursive;
}

#fastfooddetails{
    margin-left: 2.5em;
    font-family: 'Baloo Tammudu 2', cursive;

}
#drinksimages{
    display: flex;
    padding: 5px;
    margin-left: 50px;
    box-shadow: 10px 10px 10px 10px solid gray;

    
}
#drinksimages img{
    /* height: 150px; */
    /* position: relative; */
    box-shadow: 10px 10px 10px 10px solid gray;
}
/* .combo{
    margin-right: 100px;
    margin-left: 100px;
} */
#drinksdetails{
    text-align: right;
    margin-left: 50px;
}
#drinksimages img{
    width: 200px;
}

.drinks{
    display: flex;
    margin-left: 200px;
    margin-right: 300px;
}


.foodmenu{
    background-image: url(./assets/backgrounds/foodsBg.jpg);
    background-repeat: no-repeat;
    padding: 8%;
    margin-top: 50px;
    font-family: 'Baloo Tammudu 2', cursive;
}
#foodcontainer{
    background-color: white;

}
#foodsavailable{
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    font-family: 'Baloo Tammudu 2', cursive;
}
#foodimages{
    display: flex;
    justify-content: space-evenly;
}
#foodnames{
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    color: #F15A29;
}
#fastfood{
    color:#F15A29 ;

}
#line{
    display: flex;
    margin-top: 3%;
    margin-left: 8%;
    margin-right: 8%;
    box-shadow: 0 0 4px;
    padding: 1.0em;
    margin: 5%;


}
#menu{
    border-left: 2px solid gray;
    text-align: center;
}
#fastfooddetails a{
    color: #F15A29;
}
#drinksdetails a{
    color: #F15A29;
}
.delivery{
    background-image: url(./assets/backgrounds/subscribe.jpg);
    height: 250px;
}
.form{
    margin-left: 40%;

}
.subscribe{
    
    background-color: #F15A29;
    color: white;

}
button{
    background-color: #F15A29;

}

.delivery h3{
    color:white;
    text-align: center;
}
.email{
background-color: white;
opacity: 0.5;
padding: 17px;
}
footer{
    background-color: #F15A29;
    height: 250px;
    text-align: center;
    color: white;
}
#footer{
    display: flex;
    text-align: center;
    margin-left: 45%;
    margin-right: 48%;
    justify-content: space-between;
}
.customer h1{
    color: #F15A29;
}
#feedbacks{
    text-align: center;
}
.delivery{
    padding-top: 50px;
}
button{
padding: 15px;
 background-color: white;
 color: #F15A29;
 border: #F15A29 solid 1px;
}