html,
body {
    margin: 0px;
    height: 100%;
    font-family: cursive;
}

.background1 {
    background-image: url(./assets/backgrounds/landing.jpg);
    height: 100%;
    background-size: cover;
    text-align: center;
    padding-top: 150px;
    color: white;
    font-size: 30px;


}

.service {
    display: flex;



}

#service1 {
    display: flex;
    flex-direction: column;
    width: 150%;
    text-align: center;
}

#happy {
    margin-top: 40px;
    margin-bottom: 40px;
    height: 50%;

}

#party {
    background-color: #F15A29;
    color: white;
    padding-top: 40px;
    padding-bottom: 38px;
    height: 50%;
    height: fit-content;
}

#breakfast,
#lunch,
#dinner {
    text-align: center;
    position: relative;
    color: white;
}
#lunch{
    opacity: 0.5;
}

#bftxt,
#lunchtxt,
#dinnertxt {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: (-50%, -50%);
    font-style: italic;
    font-size: 24px;
}
#foodimage{
    /* display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 0.5em; */
    box-shadow: 10px 10px 10px 10px solid gray;
    height: 140px;
}

#foodimage img{
    height: 150px;
    position: relative;

}

.img_one{
    top: 2px;
    /* max-height: fit-content; */
}

.img_two{
    top: -2px;
    /* max-height: fit-content; */
}

.image-container{
    margin: 0.2em;
    border: 1.0em solid rgba(0, 0, 0, 0.05);
    

}


.fastfood{
    display: flex;
    text-align: left;
    padding-top: 40px;
    padding-bottom: 150px;
    margin-left: 15%;
    width: 70%;
    justify-content: space-between;
    
}

#fastfooddetails{
    margin-left: 2.5em;

}
#drinksimages{
    display: flex;
    padding: 5px;
    margin-left: 50px;

    
}
/* .combo{
    margin-right: 100px;
    margin-left: 100px;
} */
#drinksdetails{
    text-align: right;
    margin-left: 50px;
}
#drinksimages img{
    width: 200px;
}

.drinks{
    display: flex;
    margin-left: 200px;
    margin-right: 300px;
}


.foodmenu{
    background-image: url(./assets/backgrounds/foodsBg.jpg);
    background-repeat: no-repeat;
    padding: 8%;
    margin-top: 50px;
}
#foodcontainer{
    background-color: white;

}
#foodsavailable{
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
}
#foodimages{
    display: flex;
    justify-content: space-evenly;
}
#foodnames{
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    color: #F15A29;
}
#fastfood{
    color:#F15A29 ;

}
#line{
    display: flex;
    margin-top: 3%;
    margin-left: 8%;
    margin-right: 8%;
    box-shadow: 2px 3px 5px 2px solid gray;
    padding: 10px;

}
#menu{
    border-left: 2px solid gray;
}
